@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  text-align: justify;
}

a {
  color: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background: #393E46  ;
}

p {
  color: rgb(221, 221, 221);
  line-height: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(219, 240, 188);
}

h2 {
  font-size: 1.75rem !important;
}

h3 {
  font-size: 1.5rem !important;
}

section {
  padding-top: 100px;
}

footer {
  padding-bottom: 10px;
  padding-top: 30px;
  border-top: 1px solid #121c3b;
}
{

}

.primary__btn {
  background: #393E46 !important;
  padding: 7px 25px !important;
  border: 1px solid #35E48F !important;
  border-radius: 5px;
}

.primary__btn a {
  text-decoration: none;
  color: #35E48F;
  background: transparent !important;
}

.secondary__btn {
  background: transparent;
  border: none;
  outline: none;
  padding: 7px 25px;
}

.secondary__btn a {
  color: #35E48F !important;
}
.primary__btn a:hover,
.secondary__btn a:hover {
  color: #d9e9e1;
}

::-webkit-scrollbar {
  width: 10px;
  background: #3e444d;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background: #303646;
}

.swal-modal {
  background-color:#393E46;
  border: 3px solid #3e434e
  ;

}
.swal-text{
  color: #ffffff;
}

@media only screen and (max-width: 992px) {
  p {
    font-size: 0.9rem !important;
  }

  .primary__btn a,
  .secondary__btn a {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  section {
    padding-top: 110px;
  }

  footer {
    padding-top: 20px;
    border-top: 1px solid #171f38;

  }
}
